*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./asstes/images/download.gif) center;
}
.cont{
    width: 996px;
    margin: 0 auto;
}
.header{
    background-color: purple;
    line-height: 30px;
    height: 30px;
    color: white;
}
.header_right{
    display: flex;
    justify-content: end;
}
.header_right a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.header_right p{
    border-right: 1px solid white;
    padding-right: 10px;
}
.logo_left{
     line-height: 110px;
}
.logo_1{
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-top: 20px;
}
.logo_2{
    padding-left: 10px;
    margin-top: 15px;
}
.logo_search input{
    width: 75%;
    margin-top: 30px;
}
.navbar ul li a{
    border-right: 1px solid white;
}
.navbar ul{
    background-color: #ddd;
}
.banner{
    border: 1px solid red;
    padding: 10px;
}
.tab_1 a{
    display: block;
    color: black;
    text-decoration: none;
}
btn button a{
    text-decoration: none;
}
.news ul li a{
    text-decoration: none;
    font-size: 15px;
    color:black;
    border-bottom: 1px solid green;
    margin: 5px;

}
.news ul li{
    list-style: none;
}
.hero_right h1{
color: purple;
font-size: 13px;
}
.hero_right select{
    width: 75%;
}
.sideber_video h2{
    background-color:green;
    color: white;
    font-size: 20px;
    padding: 5px;
}
.sideber_video h3{
    background-color:green;
    color: white;
    font-size: 20px;
    padding: 5px;
}
.news h1{
    color: purple;
    font-size: 20px;
}
.fb_1 ul li a{
    font-size: 13px;
}
.fb_1 p{
    font-size: 13px;

}
.fb_2 p{
    font-size: 13px;
}
.hb img{
    margin: 1px;
}